* {
    /*margin: 20px;*/
    /*padding: 8px;*/
    /*margin:50px;*/
    text-align: centre;
  }

#main-area {
  height: 550px;
}

#heading {
    text-align: center;
    font-size: 200% ;
    padding: clear;
}

#gameDiv {
  padding: clear;

}

#score-box {
  padding-top: 10px;
  height: 150px
}

.restartBtn {
  background-color: green;
  border-color: white;
  border-width: 5px;
  color: white;
  width: 150px;
    height: 50px;
    font-size: 20px;
} 

  .choiceBtn {
  width: 150px;
    height: 100px;
    background: none;
    border: none;
    color: rgb(224, 224, 224);
    font-size: 20px;
    background: rgb(45, 117, 96);
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
  }

  i {
    color: rgb(255, 213, 0);
    font-size: 200%;
  }

  #gameDiv {
    text-align: center;
  }

  .logo{
    align-items: center;
  }

  #score-box{
    text-align: center;
    background-color: green;
    color: white;
  
  }

  #score-box h2 {
    display: inline;
    padding: 10px;
  }

  @media screen and (max-width: 480px){
   #main-area {
  height: 800px;
}
  .choiceBtn{
   
   display: grid;
   align-items: center;
   margin-left: 100px;
   margin-bottom: 10px;
  }


  #gameDiv{
    height: 200px;
  }
  


  }
    
  


  