* {
    /*margin: 20px;*/
    /*padding: 8px;*/
    /*margin:50px;*/
    text-align: centre;
  }

#main-area {
  height: 550px;
  background-image: url(../image/cyberpunk-moon-city-with-bright-lights-a7qp2vvw.jpeg);
  background-position: center;

}

#heading {
    text-align: center;
    font-size: 200% ;
    padding: clear;
    font-family: Syncopate, sans-serif;
    color: lightblue;
    background-color: blueviolet;
}

h2{ 
  color: lightblue;
  font-family: Syncopate, sans-serif;
}

#gameDiv {
  padding: clear;

}

#score-box {
  padding-top: 10px;
  height: 150px
}

.restartBtn {
  background-color: blueviolet;
  border-color: white;
  border-width: 5px;
  color: white;
  width: 150px;
    height: 50px;
    font-size: 20px;
} 

  .choiceBtn {
  width: 150px;
    height: 100px;
    background: none;
    border: none;
    color: rgb(224, 224, 224);
    font-size: 20px;
    background: rgb(94, 214, 178);
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
  }

  i {
    color: rgb(255, 213, 0);
    font-size: 200%;
  }

  #gameDiv {
    text-align: center;
  }

  .logo{
    align-items: center;
  }

  #score-box{
    text-align: center;
    background-color: blueviolet;
    color: white;
  
  }

  #score-box h2 {
    display: inline;
    padding: 10px;
  }

  @media screen and (max-width: 500px){
   #main-area {
  height: 800px;
}
  .choiceBtn{
   
   display: grid;
   align-items: center;
   margin-left: 100px;
   margin-bottom: 10px;
  }


  #gameDiv{
    height: 200px;
  }
  
  @media screen and (max-width: 320px){
    #main-area {
      height: 800px;
    }

    #gameDiv{
      height: 200px;
    }
    .choiceBtn{
   
      display: grid;
      align-items: center;
      margin-left: clear;
      margin-right: 200px;
      margin-bottom: 10px;
     }

  }
   
  #robotText{
    size: 50%;
  }

  #resultText{
    size: 50%;
  }
  }
    
  


  